#prevButton {
  width: 20%;
  margin: 10px;
  color: black;
  background-color: rgba(255, 253, 137, 0.837);
}

#nextButton {
  width: 20%;
  margin: 10px;
  color: black;
  background-color: rgba(255, 253, 137, 0.837);
}
