#tableCharacterData {
  display: block;
  width: auto !important;
  overflow: auto;
  table-layout: auto !important;
}

th {
  width: 15rem;
  height: 4rem;
  padding: 0.5rem;
  color: black;
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 253, 137, 0.837);
  border: none;
}
